<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h3><%= recipeFromDB.nameOfRecipe %></h3>
    <h4>Main Ingredient:</h4>
    <p><%= recipeFromDB.mainIngredient %></p>
    <p><%= recipeFromDB.preparation %></p>

    <div class="cards"></div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
