<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <div class="card singleRecipe">
      <h3><%= recipeFromDB.nameOfRecipe %></h3>
      <h4>Main Ingredient:</h4>
      <p><%= recipeFromDB.mainIngredient %></p>
      <p><%= recipeFromDB.preparation %></p>

      <% if(recipeFromDB.owner === user.email) { %>

      <a class="delete" data-doc="<%= recipeFromDB._id %>">
        <i class="ri-delete-bin-7-fill"></i>
      </a>

      <% } %>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
  <script>
    const trashcan = document.querySelector(".delete");
    if (trashcan) {
      trashcan.addEventListener("click", (e) => {
        const endpoint = `/community/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => {
            console.log(err);
          });
      });
    }
  </script>
</html>
